<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ioc"></context:component-scan>

    <!--把配置文件加载到Spring容器中-->
    <context:property-placeholder location="db.properties"></context:property-placeholder>

    <bean id="user" class="ioc.User" scope="prototype">

        <property name="properties">
            <props>
                <prop key="aaa">cds</prop>
                <prop key="xxx">cascsa</prop>
            </props>
        </property>

        <!--
        @Value("${jdbc.driverclass}")//DI注解
        private String driverClassName;

        @Value("${jdbc.username}")
        private String username;

        @Value("${jdbc.password}")
        private String password;

        @Value("${jdbc.password}")
        private String url;
        ===================================以上配置相当于以下配置，所以只需配一个即可
        <property name="driverClassName" value="${jdbc.driverclass}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        -->
        <property name="list">
            <list>
                <value>4332</value>
                <value>csdcs</value>
            </list>
        </property>

        <property name="map">
            <map>
                <entry key="132" value="csaxs"></entry>
            </map>
        </property>
    </bean>
</beans>